T3/Service References/LectorsSeminarsDataAccessLayerWCFService/LectorsSeminarsDataAccessLayerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LectorsSeminarsDataAccessLayerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/LectorsSeminarsDataAccessLayerWCFService/LectorsSeminarsDataAccessLayerService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/LectorsSeminarsDataAccessLayerWCFService/LectorsSeminarsDataAccessLayerService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/LectorsSeminarsDataAccessLayerWCFService/LectorsSeminarsDataAccessLayerService/?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILectorsSeminarsDataAccessLayerService_GetLectorNameById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLectorNameById" />
  </wsdl:message>
  <wsdl:message name="ILectorsSeminarsDataAccessLayerService_GetLectorNameById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLectorNameByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ILectorsSeminarsDataAccessLayerService_GetAllLectorIds_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllLectorIds" />
  </wsdl:message>
  <wsdl:message name="ILectorsSeminarsDataAccessLayerService_GetAllLectorIds_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllLectorIdsResponse" />
  </wsdl:message>
  <wsdl:message name="ILectorsSeminarsDataAccessLayerService_GetAllLectorIdsFromSeminar_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllLectorIdsFromSeminar" />
  </wsdl:message>
  <wsdl:message name="ILectorsSeminarsDataAccessLayerService_GetAllLectorIdsFromSeminar_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllLectorIdsFromSeminarResponse" />
  </wsdl:message>
  <wsdl:message name="ILectorsSeminarsDataAccessLayerService_GetAllSeminarIdsFromLector_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSeminarIdsFromLector" />
  </wsdl:message>
  <wsdl:message name="ILectorsSeminarsDataAccessLayerService_GetAllSeminarIdsFromLector_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSeminarIdsFromLectorResponse" />
  </wsdl:message>
  <wsdl:message name="ILectorsSeminarsDataAccessLayerService_GetSeminarNameById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSeminarNameById" />
  </wsdl:message>
  <wsdl:message name="ILectorsSeminarsDataAccessLayerService_GetSeminarNameById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSeminarNameByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ILectorsSeminarsDataAccessLayerService_GetAllSeminarIds_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSeminarIds" />
  </wsdl:message>
  <wsdl:message name="ILectorsSeminarsDataAccessLayerService_GetAllSeminarIds_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSeminarIdsResponse" />
  </wsdl:message>
  <wsdl:message name="ILectorsSeminarsDataAccessLayerService_CreateSeminar_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateSeminar" />
  </wsdl:message>
  <wsdl:message name="ILectorsSeminarsDataAccessLayerService_CreateSeminar_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateSeminarResponse" />
  </wsdl:message>
  <wsdl:message name="ILectorsSeminarsDataAccessLayerService_CreateLector_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateLector" />
  </wsdl:message>
  <wsdl:message name="ILectorsSeminarsDataAccessLayerService_CreateLector_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateLectorResponse" />
  </wsdl:message>
  <wsdl:message name="ILectorsSeminarsDataAccessLayerService_SetLectorPhotoData_InputMessage">
    <wsdl:part name="parameters" element="tns:SetLectorPhotoData" />
  </wsdl:message>
  <wsdl:message name="ILectorsSeminarsDataAccessLayerService_SetLectorPhotoData_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetLectorPhotoDataResponse" />
  </wsdl:message>
  <wsdl:message name="ILectorsSeminarsDataAccessLayerService_GetLectorPhotoData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLectorPhotoData" />
  </wsdl:message>
  <wsdl:message name="ILectorsSeminarsDataAccessLayerService_GetLectorPhotoData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLectorPhotoDataResponse" />
  </wsdl:message>
  <wsdl:message name="ILectorsSeminarsDataAccessLayerService_GetLectorPhotoName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLectorPhotoName" />
  </wsdl:message>
  <wsdl:message name="ILectorsSeminarsDataAccessLayerService_GetLectorPhotoName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLectorPhotoNameResponse" />
  </wsdl:message>
  <wsdl:message name="ILectorsSeminarsDataAccessLayerService_AddSeminarToLector_InputMessage">
    <wsdl:part name="parameters" element="tns:AddSeminarToLector" />
  </wsdl:message>
  <wsdl:message name="ILectorsSeminarsDataAccessLayerService_AddSeminarToLector_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddSeminarToLectorResponse" />
  </wsdl:message>
  <wsdl:message name="ILectorsSeminarsDataAccessLayerService_AddLectorToSeminar_InputMessage">
    <wsdl:part name="parameters" element="tns:AddLectorToSeminar" />
  </wsdl:message>
  <wsdl:message name="ILectorsSeminarsDataAccessLayerService_AddLectorToSeminar_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddLectorToSeminarResponse" />
  </wsdl:message>
  <wsdl:message name="ILectorsSeminarsDataAccessLayerService_RemoveSeminarFromLector_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveSeminarFromLector" />
  </wsdl:message>
  <wsdl:message name="ILectorsSeminarsDataAccessLayerService_RemoveSeminarFromLector_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveSeminarFromLectorResponse" />
  </wsdl:message>
  <wsdl:message name="ILectorsSeminarsDataAccessLayerService_RemoveLectorFromSeminar_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveLectorFromSeminar" />
  </wsdl:message>
  <wsdl:message name="ILectorsSeminarsDataAccessLayerService_RemoveLectorFromSeminar_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveLectorFromSeminarResponse" />
  </wsdl:message>
  <wsdl:message name="ILectorsSeminarsDataAccessLayerService_DeleteSeminar_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSeminar" />
  </wsdl:message>
  <wsdl:message name="ILectorsSeminarsDataAccessLayerService_DeleteSeminar_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSeminarResponse" />
  </wsdl:message>
  <wsdl:message name="ILectorsSeminarsDataAccessLayerService_DeleteLector_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteLector" />
  </wsdl:message>
  <wsdl:message name="ILectorsSeminarsDataAccessLayerService_DeleteLector_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteLectorResponse" />
  </wsdl:message>
  <wsdl:message name="ILectorsSeminarsDataAccessLayerService_CloseSession_InputMessage">
    <wsdl:part name="parameters" element="tns:CloseSession" />
  </wsdl:message>
  <wsdl:message name="ILectorsSeminarsDataAccessLayerService_CloseSession_OutputMessage">
    <wsdl:part name="parameters" element="tns:CloseSessionResponse" />
  </wsdl:message>
  <wsdl:message name="ILectorsSeminarsDataAccessLayerService_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="ILectorsSeminarsDataAccessLayerService_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="ILectorsSeminarsDataAccessLayerService_GenerateSession_InputMessage">
    <wsdl:part name="parameters" element="tns:GenerateSession" />
  </wsdl:message>
  <wsdl:message name="ILectorsSeminarsDataAccessLayerService_GenerateSession_OutputMessage">
    <wsdl:part name="parameters" element="tns:GenerateSessionResponse" />
  </wsdl:message>
  <wsdl:portType name="ILectorsSeminarsDataAccessLayerService">
    <wsdl:operation name="GetLectorNameById">
      <wsdl:input wsaw:Action="http://tempuri.org/ILectorsSeminarsDataAccessLayerService/GetLectorNameById" message="tns:ILectorsSeminarsDataAccessLayerService_GetLectorNameById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILectorsSeminarsDataAccessLayerService/GetLectorNameByIdResponse" message="tns:ILectorsSeminarsDataAccessLayerService_GetLectorNameById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllLectorIds">
      <wsdl:input wsaw:Action="http://tempuri.org/ILectorsSeminarsDataAccessLayerService/GetAllLectorIds" message="tns:ILectorsSeminarsDataAccessLayerService_GetAllLectorIds_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILectorsSeminarsDataAccessLayerService/GetAllLectorIdsResponse" message="tns:ILectorsSeminarsDataAccessLayerService_GetAllLectorIds_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllLectorIdsFromSeminar">
      <wsdl:input wsaw:Action="http://tempuri.org/ILectorsSeminarsDataAccessLayerService/GetAllLectorIdsFromSeminar" message="tns:ILectorsSeminarsDataAccessLayerService_GetAllLectorIdsFromSeminar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILectorsSeminarsDataAccessLayerService/GetAllLectorIdsFromSeminarResponse" message="tns:ILectorsSeminarsDataAccessLayerService_GetAllLectorIdsFromSeminar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllSeminarIdsFromLector">
      <wsdl:input wsaw:Action="http://tempuri.org/ILectorsSeminarsDataAccessLayerService/GetAllSeminarIdsFromLector" message="tns:ILectorsSeminarsDataAccessLayerService_GetAllSeminarIdsFromLector_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILectorsSeminarsDataAccessLayerService/GetAllSeminarIdsFromLectorResponse" message="tns:ILectorsSeminarsDataAccessLayerService_GetAllSeminarIdsFromLector_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSeminarNameById">
      <wsdl:input wsaw:Action="http://tempuri.org/ILectorsSeminarsDataAccessLayerService/GetSeminarNameById" message="tns:ILectorsSeminarsDataAccessLayerService_GetSeminarNameById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILectorsSeminarsDataAccessLayerService/GetSeminarNameByIdResponse" message="tns:ILectorsSeminarsDataAccessLayerService_GetSeminarNameById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllSeminarIds">
      <wsdl:input wsaw:Action="http://tempuri.org/ILectorsSeminarsDataAccessLayerService/GetAllSeminarIds" message="tns:ILectorsSeminarsDataAccessLayerService_GetAllSeminarIds_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILectorsSeminarsDataAccessLayerService/GetAllSeminarIdsResponse" message="tns:ILectorsSeminarsDataAccessLayerService_GetAllSeminarIds_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateSeminar">
      <wsdl:input wsaw:Action="http://tempuri.org/ILectorsSeminarsDataAccessLayerService/CreateSeminar" message="tns:ILectorsSeminarsDataAccessLayerService_CreateSeminar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILectorsSeminarsDataAccessLayerService/CreateSeminarResponse" message="tns:ILectorsSeminarsDataAccessLayerService_CreateSeminar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateLector">
      <wsdl:input wsaw:Action="http://tempuri.org/ILectorsSeminarsDataAccessLayerService/CreateLector" message="tns:ILectorsSeminarsDataAccessLayerService_CreateLector_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILectorsSeminarsDataAccessLayerService/CreateLectorResponse" message="tns:ILectorsSeminarsDataAccessLayerService_CreateLector_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetLectorPhotoData">
      <wsdl:input wsaw:Action="http://tempuri.org/ILectorsSeminarsDataAccessLayerService/SetLectorPhotoData" message="tns:ILectorsSeminarsDataAccessLayerService_SetLectorPhotoData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILectorsSeminarsDataAccessLayerService/SetLectorPhotoDataResponse" message="tns:ILectorsSeminarsDataAccessLayerService_SetLectorPhotoData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLectorPhotoData">
      <wsdl:input wsaw:Action="http://tempuri.org/ILectorsSeminarsDataAccessLayerService/GetLectorPhotoData" message="tns:ILectorsSeminarsDataAccessLayerService_GetLectorPhotoData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILectorsSeminarsDataAccessLayerService/GetLectorPhotoDataResponse" message="tns:ILectorsSeminarsDataAccessLayerService_GetLectorPhotoData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLectorPhotoName">
      <wsdl:input wsaw:Action="http://tempuri.org/ILectorsSeminarsDataAccessLayerService/GetLectorPhotoName" message="tns:ILectorsSeminarsDataAccessLayerService_GetLectorPhotoName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILectorsSeminarsDataAccessLayerService/GetLectorPhotoNameResponse" message="tns:ILectorsSeminarsDataAccessLayerService_GetLectorPhotoName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddSeminarToLector">
      <wsdl:input wsaw:Action="http://tempuri.org/ILectorsSeminarsDataAccessLayerService/AddSeminarToLector" message="tns:ILectorsSeminarsDataAccessLayerService_AddSeminarToLector_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILectorsSeminarsDataAccessLayerService/AddSeminarToLectorResponse" message="tns:ILectorsSeminarsDataAccessLayerService_AddSeminarToLector_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddLectorToSeminar">
      <wsdl:input wsaw:Action="http://tempuri.org/ILectorsSeminarsDataAccessLayerService/AddLectorToSeminar" message="tns:ILectorsSeminarsDataAccessLayerService_AddLectorToSeminar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILectorsSeminarsDataAccessLayerService/AddLectorToSeminarResponse" message="tns:ILectorsSeminarsDataAccessLayerService_AddLectorToSeminar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveSeminarFromLector">
      <wsdl:input wsaw:Action="http://tempuri.org/ILectorsSeminarsDataAccessLayerService/RemoveSeminarFromLector" message="tns:ILectorsSeminarsDataAccessLayerService_RemoveSeminarFromLector_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILectorsSeminarsDataAccessLayerService/RemoveSeminarFromLectorResponse" message="tns:ILectorsSeminarsDataAccessLayerService_RemoveSeminarFromLector_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveLectorFromSeminar">
      <wsdl:input wsaw:Action="http://tempuri.org/ILectorsSeminarsDataAccessLayerService/RemoveLectorFromSeminar" message="tns:ILectorsSeminarsDataAccessLayerService_RemoveLectorFromSeminar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILectorsSeminarsDataAccessLayerService/RemoveLectorFromSeminarResponse" message="tns:ILectorsSeminarsDataAccessLayerService_RemoveLectorFromSeminar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteSeminar">
      <wsdl:input wsaw:Action="http://tempuri.org/ILectorsSeminarsDataAccessLayerService/DeleteSeminar" message="tns:ILectorsSeminarsDataAccessLayerService_DeleteSeminar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILectorsSeminarsDataAccessLayerService/DeleteSeminarResponse" message="tns:ILectorsSeminarsDataAccessLayerService_DeleteSeminar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteLector">
      <wsdl:input wsaw:Action="http://tempuri.org/ILectorsSeminarsDataAccessLayerService/DeleteLector" message="tns:ILectorsSeminarsDataAccessLayerService_DeleteLector_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILectorsSeminarsDataAccessLayerService/DeleteLectorResponse" message="tns:ILectorsSeminarsDataAccessLayerService_DeleteLector_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CloseSession">
      <wsdl:input wsaw:Action="http://tempuri.org/ILectorsSeminarsDataAccessLayerService/CloseSession" message="tns:ILectorsSeminarsDataAccessLayerService_CloseSession_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILectorsSeminarsDataAccessLayerService/CloseSessionResponse" message="tns:ILectorsSeminarsDataAccessLayerService_CloseSession_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/ILectorsSeminarsDataAccessLayerService/DoWork" message="tns:ILectorsSeminarsDataAccessLayerService_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILectorsSeminarsDataAccessLayerService/DoWorkResponse" message="tns:ILectorsSeminarsDataAccessLayerService_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GenerateSession">
      <wsdl:input wsaw:Action="http://tempuri.org/ILectorsSeminarsDataAccessLayerService/GenerateSession" message="tns:ILectorsSeminarsDataAccessLayerService_GenerateSession_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILectorsSeminarsDataAccessLayerService/GenerateSessionResponse" message="tns:ILectorsSeminarsDataAccessLayerService_GenerateSession_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILectorsSeminarsDataAccessLayerService" type="tns:ILectorsSeminarsDataAccessLayerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLectorNameById">
      <soap:operation soapAction="http://tempuri.org/ILectorsSeminarsDataAccessLayerService/GetLectorNameById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllLectorIds">
      <soap:operation soapAction="http://tempuri.org/ILectorsSeminarsDataAccessLayerService/GetAllLectorIds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllLectorIdsFromSeminar">
      <soap:operation soapAction="http://tempuri.org/ILectorsSeminarsDataAccessLayerService/GetAllLectorIdsFromSeminar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllSeminarIdsFromLector">
      <soap:operation soapAction="http://tempuri.org/ILectorsSeminarsDataAccessLayerService/GetAllSeminarIdsFromLector" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSeminarNameById">
      <soap:operation soapAction="http://tempuri.org/ILectorsSeminarsDataAccessLayerService/GetSeminarNameById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllSeminarIds">
      <soap:operation soapAction="http://tempuri.org/ILectorsSeminarsDataAccessLayerService/GetAllSeminarIds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateSeminar">
      <soap:operation soapAction="http://tempuri.org/ILectorsSeminarsDataAccessLayerService/CreateSeminar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateLector">
      <soap:operation soapAction="http://tempuri.org/ILectorsSeminarsDataAccessLayerService/CreateLector" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetLectorPhotoData">
      <soap:operation soapAction="http://tempuri.org/ILectorsSeminarsDataAccessLayerService/SetLectorPhotoData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLectorPhotoData">
      <soap:operation soapAction="http://tempuri.org/ILectorsSeminarsDataAccessLayerService/GetLectorPhotoData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLectorPhotoName">
      <soap:operation soapAction="http://tempuri.org/ILectorsSeminarsDataAccessLayerService/GetLectorPhotoName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSeminarToLector">
      <soap:operation soapAction="http://tempuri.org/ILectorsSeminarsDataAccessLayerService/AddSeminarToLector" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddLectorToSeminar">
      <soap:operation soapAction="http://tempuri.org/ILectorsSeminarsDataAccessLayerService/AddLectorToSeminar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveSeminarFromLector">
      <soap:operation soapAction="http://tempuri.org/ILectorsSeminarsDataAccessLayerService/RemoveSeminarFromLector" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveLectorFromSeminar">
      <soap:operation soapAction="http://tempuri.org/ILectorsSeminarsDataAccessLayerService/RemoveLectorFromSeminar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSeminar">
      <soap:operation soapAction="http://tempuri.org/ILectorsSeminarsDataAccessLayerService/DeleteSeminar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteLector">
      <soap:operation soapAction="http://tempuri.org/ILectorsSeminarsDataAccessLayerService/DeleteLector" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CloseSession">
      <soap:operation soapAction="http://tempuri.org/ILectorsSeminarsDataAccessLayerService/CloseSession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/ILectorsSeminarsDataAccessLayerService/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateSession">
      <soap:operation soapAction="http://tempuri.org/ILectorsSeminarsDataAccessLayerService/GenerateSession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LectorsSeminarsDataAccessLayerService">
    <wsdl:port name="BasicHttpBinding_ILectorsSeminarsDataAccessLayerService" binding="tns:BasicHttpBinding_ILectorsSeminarsDataAccessLayerService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/LectorsSeminarsDataAccessLayerWCFService/LectorsSeminarsDataAccessLayerService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>