T3/Service References/LectorsSeminarsNamespace/LectorsSeminarsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LectorsSeminarsService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:36338/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:36338/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:36338/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LectorsSeminarsDataAccessLayer" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILectorsSeminarsService_GetLectors_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLectors" />
  </wsdl:message>
  <wsdl:message name="ILectorsSeminarsService_GetLectors_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLectorsResponse" />
  </wsdl:message>
  <wsdl:message name="ILectorsSeminarsService_GetSeminars_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSeminars" />
  </wsdl:message>
  <wsdl:message name="ILectorsSeminarsService_GetSeminars_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSeminarsResponse" />
  </wsdl:message>
  <wsdl:portType name="ILectorsSeminarsService">
    <wsdl:operation name="GetLectors">
      <wsdl:input wsaw:Action="http://tempuri.org/ILectorsSeminarsService/GetLectors" message="tns:ILectorsSeminarsService_GetLectors_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILectorsSeminarsService/GetLectorsResponse" message="tns:ILectorsSeminarsService_GetLectors_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSeminars">
      <wsdl:input wsaw:Action="http://tempuri.org/ILectorsSeminarsService/GetSeminars" message="tns:ILectorsSeminarsService_GetSeminars_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILectorsSeminarsService/GetSeminarsResponse" message="tns:ILectorsSeminarsService_GetSeminars_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILectorsSeminarsService" type="tns:ILectorsSeminarsService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLectors">
      <soap:operation soapAction="http://tempuri.org/ILectorsSeminarsService/GetLectors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSeminars">
      <soap:operation soapAction="http://tempuri.org/ILectorsSeminarsService/GetSeminars" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LectorsSeminarsService">
    <wsdl:port name="BasicHttpBinding_ILectorsSeminarsService" binding="tns:BasicHttpBinding_ILectorsSeminarsService">
      <soap:address location="http://localhost:36338/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>